/** @format */

@import 'tailwindcss';

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html,
  body,
  #root {
    height: 100%;
  }

  body {
    margin: 0;
    font-family:
      'Noto Sans KR',
      system-ui,
      -apple-system,
      'Segoe UI',
      Roboto,
      'Helvetica Neue',
      Arial,
      'Apple SD Gothic Neo',
      'Malgun Gothic',
      sans-serif;

    @apply bg-white text-gray-900;
  }
  img,
  video,
  svg,
  canvas {
    display: block;
    max-width: 100%;
  }

  button,
  input,
  textarea,
  select {
    font: inherit;
  }
}
